.clients-list {
  display: flex;
  padding: 0;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: inline-flex;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: var(--accent-color);
  }
}
